/*style.css*/
:root {
    --defult:#333;
    --thin-blue:#3AB5E4;
}
h1,h2,h3 {
    font-weight: normal;
}
html {
    font-size: 15px;
    color: var(--defult);
    background-color: #F3F6F9;
    border: solid 5px #000;
    min-height: 100vh;
}

.right {
    text-align: right;
}
.hide {
    display: none;
}
.bold {
    font-weight: bold;
}
.relative {
    position: relative;
}
.center {
    text-align: center;
}
/*header*/
header {
    background-color: var(--thin-blue);
    color: #fff;
    border-bottom: solid 5px #656565;
}

.header-left {
    font-size: 18px;
    width: 290px;
    padding: 20px;
}
.header-left img {
    max-width: 140px;
    margin-bottom: 15px;
}

.header-right {
    width: calc(100% - 290px);

}
.header-right > div {
    padding: 0 30px;
}
.header-right h3 {
    font-size: 12px;
}
.header-right-top {
    height: calc(100% - 60px);
    background-color: #fff;
    color: var(--defult);
}
.header-right-bottom {
    height: 60px;
}

/*menu*/
.menu_tab > dd,
.menu_tab dd dd {
    display: none;
}
.menu_tab_child > dt {
    margin: 0px 25px;
    padding: 12px 0;
    border-bottom: solid 1px #EDEEEF;
    font-size: 12px;
    font-weight: bold;
}
.menu_tab_child dd dt {
    margin: 0 32px;
    padding: 12px 0;
    font-size: 12px;
}

.menu {
    font-size: 13px;
    padding: 15px 0;
    background-color: #fff;
    width: 290px;
    
}

.menu .title {
    padding: 12px 18px;
    font-weight: bold;
    border-bottom: solid 1px #EDEEEF;
}
.menu .title:hover {
    cursor: pointer;
}

.insentive li {
    margin: 0 25px;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}


.button {
    background-color: #1CBCB8;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 2px 15px;
    border-radius: 2px;
    opacity: 0.8;
}
.button:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
}
.b_red {
    background-color: #BC371C;
}

.menu .menu-agency li {
    padding: 10px 0 10px 30px;
}
.menu .menu-agency li:hover {
    cursor: pointer;
    background-color: #f9f3f3;
    transition: 0.5s;
}
.menu .menu-agency .active {
    background-color: #F3F6F9;
    border-left: solid 3px #3F61CC;
}

.agency_regit {
    margin: 10px 20px 10px 32px;
    font-size: 11px;
}
.agency_regit li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.agency_regit li p {
    width: 70px;
}
.agency_regit li input {
    width: calc(100% - 70px);
}

.menu_list {
    margin: 10px 30px;
}
.menu_list dt {
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 !important;
}
.menu_list dt p {
    text-decoration: underline;
}
.menu_list dt p:hover {
    cursor: pointer;
}
.menu_list .edit {
    text-align: right;
    text-decoration: underline;
    color: #e34f4f;
}
.menu_list .edit:hover {
    cursor: pointer;
}

/*
.menu_list input {
    display: none;
}
*/
.menu_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}


/*
.small-title {
    padding: 20px 0 10px;
    font-weight: bold;
}
*/
/*content*/
.content {
    width: calc(100% - 290px);
    padding: 30px;
}

.content-link > div {
    margin-bottom: 20px;
}
.content-link a {
    max-width: 270px;
    display: block;
    padding: 13px 30px;
    border-radius: 4px;
    color: #fff;
    border: solid 3px;
    opacity: 0.5;
}
.content-link a:hover {
    opacity: 1;
    transition: 0.5s;
}
.content-link a h3 {
    font-size: 16px;
    margin-bottom: 18px;
}
.content-link a .num {
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 22px;
}
.content-link a p {
    font-size: 10px;
}
.content-link .total {
    background-color: #E669D9;
    border-color: #C65BBB;
}
.content-link .genkai {
    background-color: #F48865;
    border-color: #D37557;
}
.content-link .sim {
    background-color: #A24BFF;
    background-color: #8C41DC;
}
.content-link .sugoi {
    background-color: #1CBCB8;
    border-color: #18A29F;
}
.content-link .insentive {
    color: var(--defult);
    background-color: #fff;
    border-color: #18A29F;
}
.content-link .active {
    opacity: 1 !important;
}


.content-list > div {
    width: 50%;
}
.content-list .split {
    background-color: #fff;
    border-radius: 4px;
    height: 100%;
}

.content-list .split .title {
    font-size: 17px;font-weight: bold;
    padding: 20px 17px;
    border-bottom: solid 1px #EDEEEF;
}
.content-list-box {
    margin: 0 8px 8px;
}
.content-list table {
    font-size: 12px;
    width: 100%;
}
.content-list tr {
    width: 100%;
}
.content-list th,
.content-list td {
    padding: 14px 5px;
/*    border: solid 1px;*/
}

.content-list-all tr:nth-child(2n),
.content-list-one table tr:nth-child(2n) {
    background-color: #F3F6F9;
}
.content-list-all tr.active {
    background-color: #ffd3d3;
}
.content-list-all tr:hover {
/*    background-color: #ffeaea;*/
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
}

.content-list-one td {
/*    width: 50%;*/
    flex: 1;
}
.content-list-one td span {
    font-weight: bold;
}


input[type=checkbox] {
    opacity: 0;
}
input[type=checkbox] + label:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: solid 1px #444;
    border-radius: 2px;
}
input[type=checkbox]:checked + label:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f53636;
    border-radius: 2px;
}
button:hover {
    cursor: pointer;
}
button:disabled {
    opacity: 0.5;
}
button:disabled:hover {
    cursor: default;
    opacity: 0.5;
}


body {
    position: relative;
}
.Verification {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(255,255,255,0.5);
}
.Verification .split {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    transform: translate(-50%,-60%);
    background-color: #fff;
    width: 300px;
    height: 200px;
    border: solid 3px #b4b4b4;
    
    display: flex;
    justify-content: center;
    align-items: center;
}